<html>
    <body>
        <h1>Login</h1>
        <form method="post" action="/login">
            <span>User: </span><input type="text" name="uname" id="uname"><br>
            <span>Password: </span><input type="password" name="pass" id="pass"><br>
            <input type="submit">
        </form>
        <br>
        <a href="/register">Register</a>
    </body>

</html>
