<html>
    <body>
        <h1>Register</h1>
        <form method="post" action="/register">
            <span>User:</span><input type="text" name="uname" id="uname"><br>
            <span>Password:</span><input type="password" name="pass" id="pass"><br>
            <span>Confirm:</span><input type="password" name="cpass" id="cpass"><br>
            <input type="submit">
        </form>
    </body>

</html>
